* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: transparent !important;
    color:#626463;
}


.listLeft
{
    float: left;
    padding-right: 5px;
}

.listLeft a
{
    color: #E75113 !important;
    font-size: 0.8em;
}

.listRight
{
    float: right;
    font-weight: bold;
}

a{
    text-decoration:none;
}

.loader
{
    display:none;
    position: absolute;
    top: 50%;
    left: 45%;
    -webkit-animation: fadein 5s;
}

.newloader
{
    display:none;
    position: absolute;
    top: 20%;
    left: 20%;
    -webkit-animation: fadein 5s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#pharmacyName
{
    padding: 10px;
}

.infoBlock
{
    width: 95px;
    float: right;
    height: 95px;
    /*background: -webkit-linear-gradient(45deg, rgba(33,64,154,1) 0%,rgba(37,72,168,1) 50%,rgba(45,75,196,1) 100%);  */
    background: -webkit-linear-gradient(-45deg, rgba(236,102,30,1) 0%,rgba(236,102,30,0.84) 80%,rgba(236,102,30,1) 100%); /* Chrome10+,Safari5.1+ */
    color: #FFF;
    text-shadow: none;
    border-radius: 75px;
    border: 1px auto #21409a;
    box-shadow: -2px 2px 3px #888888;
    margin-top: -20px;
}

.webshopBlock
{
    
    width: 100px;
    float: left;
    height: 100px;
    /*background: -webkit-linear-gradient(45deg, rgba(33,64,154,1) 0%,rgba(37,72,168,1) 50%,rgba(45,75,196,1) 100%);  */
    background: -webkit-linear-gradient(-45deg, rgba(229,41,26,1) 0%,rgba(229,41,26,0.84) 80%,rgba(229,41,26,1) 100%); /* Chrome10+,Safari5.1+ */
    color: #FFF;
    text-shadow: none;
    border-radius: 75px;
    border: 1px auto #127D8C;
    box-shadow: -2px 2px 3px #888888;
    margin-top: 10px;
    
}

.webshopBlock .title
{
    padding-top: 20px;
    text-align: center;
}

.toestemmingBlock
{
    width: 90px;
    float: right;
    height: 90px;
    /*background: -webkit-linear-gradient(45deg, rgba(33,64,154,1) 0%,rgba(37,72,168,1) 50%,rgba(45,75,196,1) 100%);  */
    background: -webkit-linear-gradient(-45deg, rgba(18,125,140,1) 0%,rgba(18,125,140,0.84) 80%,rgba(18,125,140,1) 100%); /* Chrome10+,Safari5.1+ */
    color: #FFF;
    text-shadow: none;
    border-radius: 75px;
    border: 1px auto #127D8C;
    box-shadow: -2px 2px 3px #888888;
    margin-top: -10px;
    margin-right: 90px;
}

.toestemmingBlock .title
{
    text-align: center;
}

.pharmacyBlock
{
    width: 110px;
    float: right;
    height: 110px;
    /*background: -webkit-linear-gradient(45deg, rgba(33,64,154,1) 0%,rgba(37,72,168,1) 50%,rgba(45,75,196,1) 100%);  */
background: -webkit-linear-gradient(-45deg, rgba(20,156,116,1) 0%,rgba(20,156,116,0.84) 80%,rgba(20,156,116,1) 100%); /* Chrome10+,Safari5.1+ */
    color: #FFF;
    text-shadow: none;
    border-radius: 75px;
    border: 1px auto #21409a;
    box-shadow: -2px 2px 3px #888888;
}

.pharmacyBlock .title
{
    font-weight: bold;
    padding: 5px;
    margin-top: 30px;
    text-align: center;
}

.medicationBlock
{
    margin-top: 0px;
    
    width: 150px;
    color: #FFF;
    height: 150px;
   /*background: -webkit-linear-gradient(45deg, rgba(33,64,154,1) 0%,rgba(37,72,168,1) 50%,rgba(45,75,196,1) 100%); */
   /*background: -webkit-linear-gradient(-45deg, rgba(228,123,26,1) 0%,rgba(228,123,26,0.86) 71%,rgba(228,123,26,0.84) 80%,rgba(228,123,26,1) 100%);  */
   background: -webkit-linear-gradient(-45deg, rgba(134,136,194,1) 0%,rgba(134,136,194,0.84) 80%,rgba(134,136,194,1) 100%); /* Chrome10+,Safari5.1+ */
    text-shadow: none;
    border-radius: 75px;
    border: 1px auto #21409a;
    /*box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.55);*/
    box-shadow: 2px 2px 3px #888888;
}

.medicationBlock .title
{
    font-weight: bold;
    padding: 5px;
    text-align: center;
    padding-top: 50px;
}

#apotheekblok,#medicatieblok
{
   
}
.pharmacyBox
{
    width: 100%;
    background-color: #009435;
    color: #FFF;
    text-shadow: none;
    border-radius: 5px;
    border: 1px auto #21409a;
    
}

.pharmacyBox #pharmacyInfo
{
    padding: 10px;
    padding-top: 5px;
}

#loginForm, #verificationForm
{
    margin: 10px;
    color: #FFF;
    padding: 10px 0px 10px 0px;
}



.iconContainers
{
    width: 90px;
    margin-left: auto;
    margin-right: 10px;
        opacity: 0.5;
}

.smallshopCircle
{
    margin-top:5px;
    width: 20px;
    float: left;
    height: 20px;
    background: -webkit-linear-gradient(-45deg, rgba(229,41,26,1) 0%,rgba(229,41,26,0.84) 80%,rgba(229,41,26,1) 100%); /* Chrome10+,Safari5.1+ */
    color: #FFF;
    text-shadow: none;
    border-radius: 75px;
    border: 1px auto 127D8C;
    margin-right: 3px;
    box-shadow: -2px 2px 3px #888888;
}

.smallgreenCircle
{
    width: 30px;
    float: right;
    height: 30px;
    /*background: -webkit-linear-gradient(45deg, rgba(33,64,154,1) 0%,rgba(37,72,168,1) 50%,rgba(45,75,196,1) 100%);  */
    background: -webkit-linear-gradient(-45deg, rgba(20,156,116,1) 0%,rgba(20,156,116,0.84) 80%,rgba(20,156,116,1) 100%); /* Chrome10+,Safari5.1+ */
    color: #FFF;
    text-shadow: none;
    border-radius: 75px;
    border: 1px auto #21409a;
    box-shadow: -2px 2px 3px #888888;
}

.smallpurpleCircle
{
    width: 40px;
    color: #FFF;
    height: 40px;
    background: -webkit-linear-gradient(-45deg, rgba(134,136,194,1) 0%,rgba(134,136,194,0.84) 80%,rgba(134,136,194,1) 100%); /* Chrome10+,Safari5.1+ */
    text-shadow: none;
    border-radius: 75px;
    border: 1px auto #21409a;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.55);
    box-shadow: 2px 2px 3px #888888;

    
}

.smallredCircle
{
    width: 20px;
    float: right;
    height: 20px;
    background: -webkit-linear-gradient(-45deg, rgba(236,102,30,1) 0%,rgba(236,102,30,0.84) 80%,rgba(236,102,30,1) 100%); /* Chrome10+,Safari5.1+ */
    color: #FFF;
    text-shadow: none;
    border-radius: 75px;
    border: 1px auto #21409a;
    margin-right: 3px;
    box-shadow: -2px 2px 3px #888888;
}

.smallblueCircle
{
    
    width: 20px;
    float: right;
    height: 20px;
    /*background: -webkit-linear-gradient(45deg, rgba(33,64,154,1) 0%,rgba(37,72,168,1) 50%,rgba(45,75,196,1) 100%);  */
    background: -webkit-linear-gradient(-45deg, rgba(18,125,140,1) 0%,rgba(18,125,140,0.84) 80%,rgba(18,125,140,1) 100%); /* Chrome10+,Safari5.1+ */
    color: #FFF;
    text-shadow: none;
    border-radius: 75px;
    border: 1px auto #127D8C;
    box-shadow: -2px 2px 3px #888888;
    margin-top: 0px;
    margin-right: 23px;
    
}
.ui-header
{
    background-color: #009435;
    padding-top: 20px !important;
    border: none !important;
    box-shadow: none !important;
}

.ui-header-fixed
{
    top: 0px;
    padding-top: 0px;
    box-shadow: none !important;
}

.ui-footer
{
    background-color: #FFF !important;
    font-weight: normal;
    border: none !important;
    text-align: left;
    padding:5px;
    padding-bottom:0px !important;
    margin-bottom: 0px !important;
}

.ui-footer-fixed
{
    bottom: 0px;
    padding-bottom: 0px;
}

.ui-page
{
    background: #FFF; !important;
    -webkit-backface-visibility: hidden;
}

#webshopUl
{
    border 0px;
    color: #E5291A;
}

#webshopUl li a
{
    border: 1px solid #FFF;
    border-left: 0px solid #FFF;
    border-radius: 0;
    margin-top: -1px;
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
    background-color:#E5291A;
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    font-size: 0.6em !important;
}

/* Button up */
.ui-page-theme-c .ui-btn,
html .ui-bar-c .ui-btn,
html .ui-body-c .ui-btn,
html body .ui-group-theme-c .ui-btn,
html head + body .ui-btn.ui-btn-c,
/* Button visited */
.ui-page-theme-c .ui-btn:visited,
html .ui-bar-c .ui-btn:visited,
html .ui-body-c .ui-btn:visited,
html body .ui-group-theme-c .ui-btn:visited,
html head + body .ui-btn.ui-btn-c:visited {
    background-color:#009435;
    
}

/* Button down */
.ui-page-theme-c .ui-btn:active,
html .ui-bar-c .ui-btn:active,
html .ui-body-c .ui-btn:active,
html body .ui-group-theme-c .ui-btn:active,
html head + body .ui-btn.ui-btn-c:active {
    background-color:#009435;

}



/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
    background-color: #fff;
    color: #009435;
    margin-top: 20px;
}



.ui-page {
    background-color: #fff;
/*    background: -webkit-linear-gradient(left, rgba(134,137,195,1) 0%,rgba(33,64,154,1) 0%,rgba(33,64,154,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 98%,rgba(33,64,154,1) 98%,rgba(33,64,154,1) 100%); */
 box-shadow: none !important;
}

.contentShadow
{
    box-shadow: none !important;
}

.ui-content
{
    background-color: none;
    box-shadow: none !important;
    
}

/**
 * new apotheek app styles
 **/

.clearer
{
    clear: both;
}

#dashboard-wrapper
{
    width: 100%;
    background-color: #FFF;
    text-shadow: none;
    color: #FFF;
    text-align: center;
    height: 500px;
}

#dashboard-webshop, #dashboard-inschrijven
{
    padding-top: 15%;
    width:100%;
    background-color: #E75113;
    
    height: 40%;
    border-top-left-radius:5px;
    font-weight: normal;
}

#dashboard-apotheek, #dashboard-photorecept
{
    margin-top:1%;
    padding-top: 15%;
    width: 100%;
    height: 40%;
    background-color: #009435;
    border-bottom-left-radius:0px;
}

#dashboard-inschrijven, #dashboard-photorecept
{
    border-top-left-radius:0px;
    border-bottom-left-radius:5px;
    margin-top:1%;
}
#dashboard-leftcontainer
{
    float: left;
    width:49.5%;
    height: 250px;
}

#dashboard-wrapper a
{
    color: #FFF;
    text-decoration:none;
}

#dashboard-rightcontainer
{
    width:50%;
    float: right;
    height: 249px;
}

#dashboard-medicatie, #dashboard-feedback
{
    padding-top: 15%;
    width: 100%;
    height: 40%;
    background-color: #E32119;
    border-top-right-radius:5px;
}

#dashboard-feedback
{
    border-top-right-radius:0px;
    border-bottom-right-radius:5px;
    margin-top:1%;
}

#dashboard-intakes
{
    margin-top:1%;
    padding-top: 15%;
    width: 100%;
    height: 40%;
    background-color: #41A62A;

    border-bottom-right-radius:0px;

}

#openingstijden-wrapper
{
    margin-top: 30px;
}

#dashboard-openingstijden
{
    text-align: center;
    font-weight:bold;
    color: #009435;
}

#pharmacyList li a
{
    border: 1px solid #FFF;
    border-left: 0px solid #FFF;
    border-radius: 0;
    margin-top: -1px;
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
    background-color:#009435;
    
}


#listUl
{
    margin-top: 17px;
    border 0px;
    color: #FFF;
    text-shadow:none;

}

#listUl-new
{
    margin-top: 17px;
    border 0px;
    color: #000;
    text-shadow:none;
}

#listUl li a
{
    border: 1px solid #FFF;
    border-left: 0px solid #FFF;
    border-right: 0px solid #FFF;
    border-radius: 0;
    margin-top: -2px;
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
    background-color:#E32119;
    font-size: 0.7em;
    padding:15px;
}

#listUl-new li
{
    border-top: 1px solid #FFF;
    border-left: 0px solid #FFF;
    border-right: 0px solid #FFF;
    border-radius: 0;
    margin-top: -2px;
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
    background-color:#E32119;
    font-size: 0.9em;
    padding:15px;
    padding-top:5px;
    padding-bottom:0px;
}

.MedName em, .addedMedName em
{
    color: #FFF;
    font-style: italic;
}

.MedNameGray
{
    background-color: #CCC !important;
}

#listUl li, #listUl-new li
{
    margin-bottom: 15px;
}



.ordericons-new
{
    color: #FFF;
    margin-top: 5px;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
}

.ordericons-new i
{
    color: #FFF;
}

.ordericons
{
    
    width: 100%;
    background-color:#E32119;
}

.iconfloat
{
    float: left;
    padding: 5px 10px 5px 12px;
    border-right: 1px solid #BBB;
    border-left: 0px solid #FFF;
}

.ordericonleft
{
    width: 49%;
    float: left;
    border-right: 1px solid #FFF;
    
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 0.9em;
    text-align: center;
}

.ordericonright
{
    width: 45%;
    float: right;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 0.9em;
    text-align: center;
}

.shopiconleft
{
    width: 33%;
    float: left;
    text-shadow: none !important;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 0.9em;
    text-align: center;

}

.iconspaceright
{
    padding-right: 7px;
}

.pharmacyContainer
{
   
   color: #626463;
   
    text-shadow: none;
    padding: 0px;
    padding-left: 0px;
}

.pharmacyContainer a
{
    color: #626463;
    font-size: 1em;
    font-weight: normal;
}

.pharmacyContainer td strong
{
    color:#626463;
}

.pharmacyContainer h2
{
    font-size: 1.5em;
    color: #009435;
}

.pharmacyContainer strong
{
    color: #009435;
}

.pharmacyContainer p
{
    margin:0px;
}

#webshopUl
{
    border 0px;
    color: #FFF;
}

#webshopUl li
{
    color: #FFF !important;
}

#webshopUl li a
{
    border: 1px solid #FFF;
    border-left: 0px solid #FFF;
    border-radius: 0;
    margin-top: -1px;
    color: #FFF;
    box-shadow: none;
    text-shadow: none;
    background-color:#E75113;
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    font-size: 0.8em !important;
}

/**
 * Medication details
 **/

.medicationDetailContainer
{
    padding: 5px;
    border-radius: 5px;
    color: #FFF;
   

}

#detailName, #addedDetailName
{
    font-weight: bold;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    margin: 10px 0px 10px 0px;
    text-shadow: none;
    color: #E32119;
    border-bottom: 1px solid #E32119;
}

.detailfield
{
    color:#626463;
    text-shadow:none;
    float: left;
    width: 50%;
    padding-bottom: 5px;
    font-weight:bold;
}

.detailvalue
{
    color:#626463;
    text-shadow:none;
    float:right;
    width: 50%;
    padding-bottom: 5px;
}

#detailsContainer a
{
    color: #E32119;
    border: 2px solid #A7051B;
    padding:5px;
    font-size:0.9em;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#detailsContainer
{
    
}

.intakeDeleteOption a, #medActionButtons a
{
    color: #E32119;
    text-shadow: none;
}

/**
 * EDIT OPTIONS
 **/


#editOptionsBar, .addedMedicationDivider
{
    margin-top: 30px;
    width: 100%;
    background-color: #E32119;
    border-top: 1px solid #A7051B !important;
    border-bottom: 1px solid #A7051B !important;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
}

.addedMedicationDivider
{
    background-color: #A7051B;
    
}

#newPrescription
{
    margin: 15px;
}

#editOptions, #addedEditOptions
{
    margin-bottom: 50px;
}

.smalltext
{
    text-align: center;
    font-size: 0.8em;
}

.editOptionsButton
{

    margin-left: 5px;
    margin-right: 5px;
    width: 44%;
    padding:5px;
    border: 2px solid #FFF;
    background-color: #E32119;
    color: #FFF;
    margin-bottom: 15px;
    float: left;
    text-shadow:none;
}

.editButtonIcon
{
    text-align: center;
   
    padding-left: 8px;
}

.editButtonText
{
    text-align: center;
    padding-left: 0px;
    padding-top: 5px;
    
}



/* INNAME OVERZICHT */
#intakeHistoryBox
{
    display: none;
}

.dateHeader
{
    color: #FFF !important;
    text-shadow: none;
    padding: 0px 8px 0px 8px;
    padding-left: 15px;
    margin-left:-16px;
    margin-right:-16px;
    border-top: 1px solid #A7051B;
    border-bottom: 1px solid #A7051B;
    background-color: #E32119 !important;
    box-shadow: -2px 2px 0px #f5faee;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.dateContainer
{
    
    margin-left:-16px;
    margin-right:-16px;
    background-color: #41A62A;
    border-bottom: 1px solid #009435;
}

.dateData
{
    float: left;
    font-size:0.8em;
    color: #FFF !important;
    text-shadow: none;
    padding: 8px;
    padding-left: 5px;
    
}

.dateContainer strong
{
    color: #FFF;
}

.floatright
{
    float: right;
}

.promoText strong
{
    color: #009435;
}

#removeMedication a, #changeMedication a
{
    color: #E32119;
}
#removeMedication label, #changeMedication label
{
    color: #E32119;
}

#newPrescription
{
    margin: 15px;
    background-color: #E32119 !important;
    border: 2px solid #A7051B !important;
    padding: 5px;
    padding: 5px;
    color: #FFF;
    box-shadow: 0 16px 10px -17px rgba(0,0,0,0.5) !important;
    text-shadow: none;
}

#prescriptionTitle
{
    font-weight: bold;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

#prescriptionContainer .detailfield, #prescriptionContainer .detailvalue
{
    color: #FFF;
}

.addingMedicationRequest, .orderMedicationHistory, .subscribeBlock, .feedbackQuestion
{
    margin-top: 30px;
    border: 2px solid #A7051B;
    padding: 5px;
    text-align: center;
}

.subscribeBlock
{
    border: 2px solid #E75113;
    border-radius: 5px;
}

.orderMedicationHistory
{
    border: 2px solid #009435;
    margin-top: 50px;
}

.feedbackQuestion
{
    border: 2px solid #009435;
    margin-top:20px;
    border-radius: 5px;
}

a .addingMedicationRequest, a .orderMedicationHistory, a .subscribeBlock, a .feedbackQuestion
{
    color: #000;
    font-weight: normal;
    font-size: 0.9em;
}

a .addingMedicationRequest strong
{
    color: #E32119;
}

a .orderMedicationHistory strong
{
    color: #009435
}
.formLabel
{
    color: #E32119;
}

.saveButton
{
    border: 2px solid #A7051B !important;
    color: #E32119 !important;
    border-radius: 0px;
}

.appointmentButton
{
    border: 2px solid #009435 !important;
    color: #009435 !important;
    border-radius: 0px;
}

#addedOverviewList
{
    margin-top: 15px;
    margin-bottom: 50px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.addedMedLi
{
    background-color: #A7051B !important;
    border: 1px solid #CCC !important;
    margin-top: -1px !important;
    width: 100% !important;
    white-space: normal !important;
    text-overflow: ellipsis !important;
    color: #FFF !important;
    text-shadow: none !important;
    
    padding-right: 15px;
}

.registrationRequest
{
    margin-top: 20px;
    border: 2px solid #009435;
    padding: 5px;
    text-align: center;
}

.receptnumberRequest
{
    margin-top: 20px;
    background-color: #E75113;
    padding: 10px;
    color: #FFF;
    border-radius: 5px;
    text-shadow: none;
    text-align: center;
}

#registrationForm strong
{
    color: #009435;
}

/* PINCODE STYLING */
#pincodeContainer input[type=password] {
    padding: 10px;
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 30px;
}

#changePin
{
    display:none;
}

.appointmentRequest
{
    margin-top: 30px;
    border: 2px solid #007D36;
    padding: 5px;
    text-align: center;
}

a .appointmentRequest
{
    color: #000;
    font-weight: normal;
    font-size: 0.9em;
}

a .appointmentRequest strong
{
    color: #009435;
}

/*slide aanbiedingen */
#dealcontainer
{
    margin-top: 15px;
    border: 2px solid #009435;
    border-radius: 5px;
    padding: 10px 10px 0px 0px;
    display:none;
}
.slidedeal
{
    display:none;
    min-height: 100px;
}

.slidedeal .left
{
    float: left;
    width:30%;
}

.slidedeal .left img
{
    width:100%;
}

.slidedeal .right
{
    float: right;
    width:69%;
    font-size:0.7em;
    color: #009435;
}

.slidedeal .right strong
{
    font-size: 1.3em;
}

.slidedeal .right .fromprice
{
    color: #E32119;
}

.slidedeal .right .newprice
{
    color: #41A62A;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin:0px;
}

.slidedeal .right .disclaimer
{
    text-align: right;
    padding:10px 0px;
    margin:0px;
}

.box {
    
    display: block;
}

.swipe {
    background-color: #7ACEF4;
}

#orderOverviewList
{
    border: 2px solid #009435;
    border-radius: 5px;
    padding: 5px;
}

.OrderItem
{
    padding: 5px;
}

.historyDate, .historyName
{
    padding: 5px;
    float: left;
}

.historyDate
{
    width: 35%;
}

/* PINCODE STYLING */
#pincodeContainer input[type=password], #pincodeContainer input[type=tel] {
    padding: 10px;
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 30px;
    
}

#resetPincodeOption
{
    display: none;
}

/* Receptnummer blok */
#login-receptnumber-block, #medication-receptnumber-block
{
    display: none;
}

.textarea_container textarea
{
    min-height:150px !important;    
}
/*FLEXBOX FOR DASHBOARD*/
.flex-container{
  padding: 0;
  margin: 0;
  margin-left: -10px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  -webkit-margin-before: -10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: -6px;
  -webkit-margin-end: -5px;
  -webkit-padding-start: 0px;
}



.flex-item {
  background: tomato;
  text-shadow:none;
  width: 49%;
  height: 100px;
  margin-top: 4px;
  padding-top:10px;
  color: white;
  font-size: 1em;
  text-align:center;
}

.flex-item p {
    margin:0;
    padding:0;
}

.flex-item small
{
    line-height: 40px;
}
.flex-item a
{
    color: #FFF !important;
    font-weight: normal !important;

}


.flex-item:nth-child(1),.flex-item:nth-child(5) ,.flex-item:nth-child(9)
{
    background: #E75113;   
}

.flex-item:nth-child(2),.flex-item:nth-child(6) ,.flex-item:nth-child(10)
{
    background: #E32119;   
}

.flex-item:nth-child(3),.flex-item:nth-child(7) 
{
    background: #009435;   
}

.flex-item:nth-child(4),.flex-item:nth-child(8) 
{
    background: #41A62A;   
}

.flex-item:nth-child(1)
{
    border-top-left-radius:5px;    
}

.flex-item:nth-child(2)
{
    border-top-right-radius:5px;    
}
/*
.flex-item:nth-last-child(2) {
    border-bottom-left-radius:5px;  
}
*/
.flex-item:nth-last-child(2):nth-child(odd)
{
    border-bottom-left-radius:5px;  
}

.flex-item:last-child:nth-child(even) {
    border-bottom-right-radius:5px;  
}

.flex-item:last-child:nth-child(odd) {
    border-bottom-right-radius:5px;  
    border-bottom-left-radius:5px;  
}


/*voorwaarden/privacy pagina*/

dd.articleList-items {
    margin: 0;
}

